<div ng-controller="ProductdetailController" class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title">{{toyDetail.toyName}}</h1>
        <div layout="row">
            <md-input-container style="margin-right: 10px;" flex>
                <img src="/product/{{toyDetail.productID}}.jpeg" alt="Lego" height="400" width="400">
            </md-input-container>
            <md-input-container flex>
                <md-list flex>
                    <md-list-item>Brand: {{toyDetail.brand}}</md-list-item>
                    <md-list-item>Gender: {{toyDetail.gender}}</md-list-item>
                    <md-list-item>Age: {{toyDetail.age}}</md-list-item>
                    <md-list-item>Price: {{toyDetail.price}}</md-list-item>
                    <md-list-item>Shipping Method: Cash on Delivery</md-list-item>
                    <md-list-item ng-if="toyDetail.quantity>0" class="in-stock">In Stock</md-list-item>
                    <md-list-item ng-if="toyDetail.quantity===0" class="out-of-stock">Out of Stock</md-list-item>
                    <md-list-item>
                        Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <md-select ng-model="selectedQuantity">
                            <md-option ng-repeat="quantity in quantityList" value="{{quantity}}">{{quantity}}</md-option>
                        </md-select>
                    </md-list-item>

                </md-list>
                <div layout="row">
                    <md-input-container class="padding-right-25" flex="75">
                        <md-button md-no-ink class="md-raised md-primary toy-button" ng-click="addToCart()">Add to cart</md-button>
                    </md-input-container>
                    <md-input-container class="padding-right-25" flex="25">
                        <md-button class="md-raised toy-button" ng-click="back()">Back</md-button>
                    </md-input-container>
                </div>
            </md-input-container>
        </div>

    </div>
</div>