<div ng-controller="ProductdetailController" class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title" id="toy-name">{{toyDetail.toyName}}</h1>
        <div layout="row">
            <md-input-container style="margin-right: 10px;" flex>
                <img id="toy-image" ng-src="/product/{{productID}}.jpeg" alt="image" height="400" width="400">
            </md-input-container>
            <md-input-container flex>
                <md-list flex>
                    <md-list-item id="toy-brand">Brand: {{toyDetail.brand}}</md-list-item>
                    <md-list-item id="toy-gender">Gender: {{toyDetail.gender}}</md-list-item>
                    <md-list-item id="toy-age">Age: {{toyDetail.age}}</md-list-item>
                    <md-list-item id="toy-price">Price: {{toyDetail.price}}</md-list-item>
                    <md-list-item id="toy-shipping-method">Shipping Method: Cash on Delivery</md-list-item>
                    <md-list-item id="toy-in-stock" ng-if="toyDetail.amountInStock>0" class="in-stock">In Stock</md-list-item>
                    <md-list-item id="toy-out-of-stock" ng-if="toyDetail.amountInStock===0" class="out-of-stock">Out of Stock</md-list-item>
                    <md-list-item id="toy-quantity" ng-if="toyDetail.amountInStock>0">
                        Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <md-select id="toy-quantity-select" ng-model="selectedQuantity">
                            <md-option id="toy-{{$index+1}}" ng-repeat="quantity in quantityList" ng-click="changeSelectedQuantity(quantity)" value="{{quantity}}">{{quantity}}</md-option>
                        </md-select>
                    </md-list-item>
                    <md-list-item id="toy-quantity-out-of-stock" ng-if="toyDetail.amountInStock==0">
                        Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0
                    </md-list-item>

                </md-list>
                <div layout="row">
                    <md-input-container class="padding-right-25" flex="75">
                        <md-button md-no-ink class="md-raised md-primary toy-button" name="add-button" ng-click="addToCart()">Add to cart</md-button>
                    </md-input-container>
                    <md-input-container class="padding-right-25" flex="25">
                        <md-button class="md-raised toy-button" name="back-button"  ng-click="back()">Back</md-button>
                    </md-input-container>
                </div>
            </md-input-container>
        </div>

    </div>
</div>