<div ng-controller="ProductSearchController" class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title">Search Toy</h1>
        <div layout="row">
            <md-input-container style="margin-right: 10px;" flex>
                <label>Select Age</label>
                <md-select ng-model="selectedAge">
                    <md-option ng-repeat="age in ages" value="{{age}}">{{age}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Select Gender</label>
                <md-select ng-model="selectedGender">
                    <md-option ng-repeat="gender in genders" value="{{gender}}">{{gender}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <md-button class="md-raised md-primary" ng-click="search()">Search</md-button>
            </md-input-container>
        </div>
        <div layout="column" ng-if="toys!=null">
                <h2>{{toys.length}} toys found</h2>

                <table>
                    <tr>
                        <th>Toy Name</th>
                        <th>Brand</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Quantity</th>
                        <th>Price</th>

                    </tr>
                    <tr class="hvr-fade-edit clickable zebra" ng-repeat="toy in toys" ng-click="gotoProductDetail(toy.id)">
                        <td>{{toy.toyName}}</td>
                        <td>{{toy.brand}}</td>
                        <td>{{toy.gender}}</td>
                        <td>{{toy.age}}</td>
                        <td>{{toy.amountInStock}}</td>
                        <td>{{toy.price}}</td>

                    </tr>

                </table>

        </div>
        
    </div>
</div>