
    <div>
        <h1 class="md-title">Shopping Cart</h1>
        <div layout="column" ng-if="shoppingCartItem!=null">
            <table>
                <tr>
                    <th>Items</th>
                    <th>Quantity</th>
                    <th>Price (THB)</th>

                </tr>
                <tr ng-repeat="item in shoppingCartItem" ng-show="item.orderQuantity>0">
                    <td>
                        <md-list flex>
                            <md-list-item id="toy-name">
                                <b>{{item.toyName}}</b>&nbsp;by {{item.brand}}</md-list-item>
                            <md-list-item id="toy-age">For {{item.gender}} Age {{item.age}}</md-list-item>
                            <md-list-item id="toy-in-stock" ng-if="item.amountInStock>0" class="in-stock">In Stock</md-list-item>
                            <md-list-item id="toy-out-of-stock" ng-if="item.amountInStock===0" class="out-of-stock">Out of Stock</md-list-item>
                            <md-list-item>
                                <md-button id="delete-button" class="md-warn" ng-click="delete($index)">Delete</md-button>
                            </md-list-item>
                    </td>
                    <td>
                        <md-select id="toy-select-quantity" ng-model="item.orderQuantity" ng-change="calculateSubTotal(shoppingCartItem)">
                            <md-option id="toy-select{{$parent.$index}}-{{$index+1}}" ng-repeat="quantity in item.quantityList" value="{{quantity}}">{{quantity}}</md-option>
                        </md-select>
                    </td>
                    <td>{{item.price}}</td>

                </tr>

            </table>

        </div>
        <div layout="row">
            <md-input-container flex>
                <md-list flex>
                    <md-list-item>Shipping Method: Cash on Delivery</md-list-item>
                    <md-list-item>Shipping Fee: 50.00 THB</md-list-item>
                </md-list>
            </md-input-container>
            <md-input-container flex>
                    <md-list flex>
                        <md-list-item>Subtotal ({{shoppingCartItem.length}} item{{shoppingCartItem.length>1?'s':''}}) : {{subTotal | number}} THB </md-list-item>
                    <md-list-item>Shipping Fee: 50.00 THB</md-list-item>
                </md-list>
            </md-input-container>
        </div>
        <div layout="row" class="right">
                <md-input-container>
                    <md-button  id="continue-shopping-button" class="md-raised" ng-click="continueShopping()">Continue Shopping</md-button>
                </md-input-container>
                <md-input-container>
                    <md-button id="check-out-button" class="md-raised  md-primary" ng-click="checkOut()">Process to checkout</md-button>
                </md-input-container>
            </div>
    </div>
