
    <h1 class="md-title">Thank you for you shopping. <br/>
    </h1>
    <div layout="column" ng-if="order!=null">
        <table>
            <tr>
                <th>Items</th>
                <th>Quantity</th>
                <th>Price (THB)</th>

            </tr>
            <tr ng-repeat="item in order">
                <td>
                    <md-list flex>
                        <md-list-item>
                            <b>{{item.toyName}}</b>&nbsp;by {{item.brand}}</md-list-item>
                        <md-list-item>For {{item.gender}} Age {{item.age}}</md-list-item>
                </td>
                <td>{{item.orderQuantity}}</td>
                <td>{{item.price}} Baht</td>

            </tr>

        </table>

    </div>
